#trueHeader #logo{
	background:url(../../images/colors/blue/logo.png) no-repeat center top;
}

#access .menu ul li a:hover {
	color: #fff;
	background-color: #0a70e3;
} 
#access .menu ul li a.active {
	color: #fff;
	background-color: #0a70e3;
}
#access .menu ul li ul {
	background: #0a70e3;
}
#access .menu ul li ul li a {
	background: #0a70e3;
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background: #2d89f0;
}

.fullwidthbanner .tp-caption.large_text_two{
	color: #0a70e3;
}

a.button_slider_02 {
	color: #0a70e3;
	border: 1px solid #0a70e3;
}

.punch_text03 {
	background-color: #0a70e3;
}

.features_section1 i {
	background-color: #0a70e3;
}
.features_section1 h2 {
	color: #0a70e3;
}
.features_section3 .right li i {
	color: #0a70e3;
}

.peopple_says .faide_slider #slider{
    background-color: #0a70e3;
}

.punch_text03 .right a {
	color: #0a70e3;
}

.address-info a {
	color: #0a70e3;
}

.punch_text {
	background-color: #0a70e3;
}
.punch_text a {
	background-color: #1475a4;
}
.punch_text a:hover {
	color: #0a70e3;
}

.four_col_fusection .one_fourth a:hover {
	color: #0a70e3;
}
.four_col_fusection .one_fourth a:hover i {
	color: #0a70e3;
}

.features_sec02 {
	background-color: #0a70e3;
}

.punch_text02 b {
	color: #0a70e3;
}

.big_text1 i {
	color: #0a70e3;
}

.lirc_section li.left i {
	color: #0a70e3;
}

.punchline_text_box {
	border-left: 5px solid #0a70e3;
}

a.knowmore_but {
	background-color: #0a70e3;
}

.four_col_fusection.inner .one_fourth i {
	color: #0a70e3;
}

.get_features .get_features_list li.left {
	background-color: #0a70e3;
}

.fullimage_box2 li i {
	color: #0a70e3;
}
.fullimage_box2 h3 {
	color: #0a70e3;
}

blockquote {
	border-left: 5px solid #0a70e3;
}

.small_social_links li i {
	color: #0a70e3;
}

a.but_goback {
	background: #0a70e3;
}

.portfolioFilter a:hover {
	color: #fff;
	background-color: #0a70e3;
}
.portfolioFilter a.current {
	color: #fff;
	background-color: #0a70e3;
}

.error_pagenotfound i {
	color: #0a70e3;
}
.error_pagenotfound em {
	color: #0a70e3;
}

.blog_post a.date strong {
	color: #0a70e3;
}

.blog_post a.date i {
	background-color: #0a70e3;
}

.blog_post h3 a {
	color: #0a70e3;
}

.sidebar_widget ul.arrows_list1 li a {
	color: #0a70e3;
}

#site-searchform #searchsubmit{
	background: #0a70e3 url(../../images/site-search-icon.png) no-repeat center 14px;
}

.recent_posts_list li a:hover {
	color: #0a70e3;
}

.sharepost li {
	background-color: #0a70e3;
}

.about_author a:hover {
	color: #0a70e3;
}

.lirt_section li strong {
	color: #0a70e3;
}

.acc-trigger a { background: url(../../images/colors/blue/accordion-ico.png) no-repeat 20px 13px;}
.acc-trigger a:hover { color: #0a70e3; border-bottom: 1px solid #fff;  }
.acc-trigger.active a { color: #0a70e3; background-position: 20px -58px; cursor: default;	}
.acc-trigger a { background: url(../../images/colors/blue/accordion-ico.png) no-repeat 20px 13px;}
.acc-trigger a:hover { color: #0a70e3; border-bottom: 1px solid #fff;  }
.acc-trigger.active a { color: #0a70e3; background-position: 20px -58px; cursor: default;	}
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { color: #0a70e3; border-bottom: 1px solid #fff; }

.accrodation .acc-trigger a { background: url(../../images/colors/blue/accordion-ico.png) no-repeat 20px 13px;}
.accrodation .acc-trigger a:hover { color: #0a70e3; border-bottom: 1px solid #fff;  }
.accrodation .acc-trigger.active a { color: #0a70e3; background-position: 20px -58px; cursor: default;	}
.accrodation .acc-trigger.active a:hover { color: #0a70e3; border-bottom: 1px solid #fff; }

html ul.tabs-two li.active, html .content_fullwidth ul.tabs-two li.active a,  html .content_fullwidth ul.tabs-two li.active a:hover  { 
	color:#0a70e3;
}
html ul.tabs  { 
	background: #0a70e3;
}
html ul.tabs li a  { 
	background-color: #0a70e3;
}

.sidebar_widget ul.tabs li.active, html .sidebar_widget ul.tabs li.active a,  html .sidebar_widget ul.tabs li.active a:hover  {
		border-top: 1px solid #0a70e3;
}
.sidebar_widget ul.tabs {
	background: none;
}
.sidebar_widget ul.tabs li a {
	background: none;
}
.sidebar_widget ul.tabs li a:hover {
	background-color: #383634;
}

.slider_button2 {
	background: url(../../images/colors/blue/slider-but02.png) no-repeat center top;
	background-size: 50%;
}

.features_sec03 .left li i {
	color: #0a70e3;
}

.twitter_feeds a {
	color: #0a70e3;
}
.hosting_page_plan .price {
	color: #0a70e3;
}
.hosting_page_plan .price i {
	color: #0a70e3;
}
.hosting_page_plan .ordernow h4 {
	color: #0a70e3;
}
a.ordernow_but {
	background-color: #0a70e3;
}
.big_text2 {
	color: #0a70e3;
}
.list2 li {
	color: #0a70e3;
}
.our_products.two li .icon i {
	color: #0a70e3;
}
.tags li a:hover {
	background-color: #0a70e3;
}
.our_support h5 {
	color: #0a70e3;
}

.top_section li strong {
	color: #0a70e3;
}
.features_sec01 ul:hover,
.features_sec01 ul.active {
	border-left: 3px solid #0a70e3;
}
.features_sec01 ul:hover li i,
.features_sec01 ul:hover li h4,
.features_sec01 ul.active li i,
.features_sec01 ul.active li h4 {
	color: #0a70e3;
}
.hot_offers strong {
	color: #2b88f0;
}
.hosting_aplans .two li.title {
	background-color: #0a70e3;
	border-bottom: 5px solid #0e67cb;
}
.what_included li:hover {
	background-color: #0a70e3;
}
.what_included li.active,
.what_included li.active i,
.what_included li.active strong {
	background-color: #0a70e3;
}
.new_website a {
	color: #0a70e3;
}
.twitter_feeds_main {
	background: #0a70e3 url(../../images/bg-texture3.png) repeat-x left top;
}
.twitter_feeds a {
	color: #fff;
}


.pricing-tables-helight .title {
	background-color: #0969d8;
	border-top: 3px solid #0863cc;
	border-bottom: 1px solid #0b77ec;
}
.pricing-tables-helight .price {
	background-color: #0a70e3;
}
.button.small.colorchan{
	color: #fff;
	background-color: #0a70e3;
}
.pricing-tables-helight-two .title {
	background-color: #0969d8;
	border-top: 3px solid #0863cc;
	border-bottom: 1px solid #0b77ec;
}
.pricing-tables-helight-two .price {
	background-color: #0a70e3;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #0a70e3;
}
.pricing-tables-main .ordernow .colorchan:hover{
	color: #fff;
	background-color: #278ef3;
}